<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %>, tu es inscrit à l’evente <%= @user.events.last.title %>.</h1>
    <p>
      Pour accéder à l'event, visite ce lien suivant : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
